<databases>
	<database name="TVN1">
		<provider name="SQLBase" namespace="Gupta.SQLBase.Data" assembly="Gupta.SQLBase.Data" brand="1" />
		<autocommit value="true" />
		<!--<named_parameters value="false" />-->
		<named_parameters value="true" prefix=":"/>
		<multiple_connections value="false" />
		<null_empty_strings value="true" />
		<!--<default_datetime_type value = "DateTime"/>-->
		<default_decimal_type value = "Double"/>
		<connection_string value="Database=TVN1" />
	</database>
	<database name="TVN1MSSQL">
		<provider name="Sql" namespace="System.Data.SqlClient" assembly="" brand="31" />
		<autocommit value="false" />
		<named_parameters value="true" prefix="@" />
		<multiple_connections value="false" />
		<null_empty_strings value="true" />
		<connection_string value="Data Source=fe4movetaVM;Initial Catalog=TVN1MSSQL;Integrated Security=true;MultipleActiveResultSets=true;" />
	</database>
	<database name="TVN2MSSQL">
		<provider name="Sql" namespace="System.Data.SqlClient" assembly="" brand="31" />
		<autocommit value="false" />
		<timeout value="10000" />
		<named_parameters value="true" prefix="@" />
		<multiple_connections value="false" />
		<null_empty_strings value="true" />
		<connection_string value="Data Source=fe4movetaVM;Initial Catalog=TVN2MSSQL;Integrated Security=true;MultipleActiveResultSets=true;" />
	</database>
</databases>
