<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="SQLTranslatorTest.Properties.Settings.ConnectionStringTWS" connectionString="Dsn=INF_TWS;uid=informix;pwd=ADM10neu" providerName="System.Data.Odbc"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
